<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./CDN/link') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <%- include('./CDN/nav') %>
  <div class="container mt-5 ">
    <div class="row row-cols-4 gap-5">

      <% blogs.forEach(blog => { %>
        <div class="col">
          
          <div class="card  col " style="width: 18rem;">
            <img src="<%= blog.coverImgUrl %>" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        
        <% }) %>
      </div>
  </div>

    <%- include('./CDN/script') %>
</body>
</html>